<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div id="allPage">
            <h1 class="text-center text-muted" >About Me Page</h1>
            <h1 class="text-center text-muted" ><u>Denio Barbosa Junior</u></h1><br>
            <img class="home_page_picture" src="/images/my_photo.jpg">
            <div class="home_page_mission">
                <h2 class="text-center text-muted" >Who I am:</h2>
                <div>
                    <h6 class="text-center text-muted" >
                        <p>
                            I'm Dênio Barbosa Júnior, born in August 11, 1991, from a middle class in Brazil.<br>
                            I am a very curious individual. I love acquiring new knowledge, and I'm very driven when
                            I am interested in something. I like to walk aimlessly through Toronto, where I currently live.
                            I also like music, video games, manga, anime, movies, series, documentaries. Anything that
                            picques my interest is always welcome.
                        </p>
                        <p>
                            I am an aspiring Software Engineer, currently enrolled at Centennial College in Toronto,
                            where I hope to graduate and get a job as a Cybersecurity Specialist, or a Data Scientist.
                        </p>
                        I have a fairly good understand in:
                        <div class="services-list" >
                            <ul class="list-group">
                                <li>Data Sctructure;</li>
                                <li>Search Alghoritms;</li>
                                <li>Programming Languages: Java, C#, Python, JavaScript, COBOL</li>
                            </ul>
                        </div>
                    </h6>
                </div>
            </div>
            <br><br><br><br><br><br><br>
            <div class="logos">
                <a href="https://drive.google.com/file/d/1QEnUVOclKURdutcOeAuDF_8fbnqGhIky/view?usp=sharing" target="_blank" >My Resume</a>
            </div>
            <p class="text-center text-muted" >My social medias:</p>
                <div class="logos">
                    <ul class="list-group">
                        <li class="list-group-item-dark"><b><a href="https://www.linkedin.com/in/deniojr/" target="_blank"><img src="images/logos/linkedin.png" height="20" width="20">LinkedIn</a></b></li>
                        <li class="list-group-item-dark"><b><a href="https://github.com/dnnzao" target="_blank"><img src="images/logos/github.png" height="20" width="20">GitHub</a></b></li>
                        <li class="list-group-item-dark"><b><a href="https://www.instagram.com/deniobarbosa/" target="_blank"><img src="images/logos/instagram.png" height="20" width="20">Instagram</a></b></li>
                        <li class="list-group-item-dark"><b><a href="https://www.facebook.com/deniobarbosajunior/" target="_blank"><img src="images/logos/facebook.png" height="20" width="20">Facebook</a></b></li>
                        <li class="list-group-item-dark"><b><a href="https://twitter.com/dnnzao" target="_blank"><img src="images/logos/twitter.png" height="20" width="20">Twitter</a></b></li>
                        <li class="list-group-item-dark"><b><a href="https://www.youtube.com/user/dnnzao" target="_blank"><img src="images/logos/youtube.png" height="20" width="20">YouTube</a></b></li>
                    </ul>
                </div>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>