<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div>
            <img src="images/TAS_project.jpg" class="projects_images">
        </div>
        <div class="text-center text-muted" >
            <h2>Project 1: <a href="https://tasvideos.org/2266M" target="_blank"> TAS - Super Demo World </a></h2><br>
            <p style="font-size:large">
                This project was a collaboration between me and a friend, aiming to complete a Super Mario World<br>
                hack, namely Super Demo World, as fast as possible.<br>
                Using of glitches that are native for the Super Mario Game, we tried to make something that was<br>
                both enjoyable and interesting to watch. We also spent many hours developing scripts to keep<br>
                track of memory addresses of in game information, such as sprite speed, time, coins, lag.
            </p>
        </div>
        <div>
            <img src="images/TAS_script.jpg" class="projects_images">
        </div>
        <div class="text-center text-muted" >
            <h2>Project 2: <a href="https://github.com/dnnzao/smw-tas" target="_blank"> SMW-TAS Lua Script </a></h2><br>
            <p style="font-size:large">
                Project is an utility script to track in-game information for the Super Mario World game for SNES.<br>
                Works for the most three used emulators at present, but now a days it's mostly maintained by the other<br>
                contributor. With this tool, you can track Mario's X-speed and Y-speed, position on screen, other sprite's<br>
                position on screen, their time, camera position, lag information, as well as compare your progress with<br>
                other runs.
            </p>
        </div>
        <div>
            <img src="images/COBOL_project.jpg" class="projects_images">
        </div>
        <div class="text-center text-muted" >
            <h2>Project 3: <a href="https://github.com/dnnzao/College-Work/blob/master/UUGPB910.cbl" target="_blank"> COBOL Project </a></h2><br>
            <p style="font-size:large">
                This project was done in 2016, in a Mainframe environment for the Fidelity Information System (FIS), to be used
                by FIS to generate reports listing the accounts from Bradesco bank with a dividend of R$ 100 (100 reais, roughly
                US$ 20 now a days). It's ordered by Logo and Account, breaking by the Logo.<br>
                - Sums the total accounts and total debt for the logo;<br>
                - Sums the total accounts and total debt for the org;<br>
                - Total accounts of the same org.
            </p>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>