<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <h5 class="text-center text-muted" >
            List of services offered:
        </h5>
        <div class="services-list" >
            <ul>
                <li>General programming: Java, C#;</li>
                <li>Web Design: basic websites with HTML/CSS/JS.</li>
            </ul>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>